#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.container-pokemon{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: cadetblue;
    width: fit-content;
    padding: 20px;
    border-radius: 11px;

    h2{
      color: white;
    }
}

.content-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orientacao-text{
  margin-top: 20px;
}

.button-pesquisa{
      background: cadetblue;
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-size: 14px;
}