

<ion-content class="ion-padding">
  <div class="content-home">
    <ion-item>
      <ion-input
        placeholder="Digite um Pokémon"
        #pokemonInput
        debounce="300"
      ></ion-input>
      <ion-button (click)="carregarPokemon(pokemonInput.value?.toString() || '')">Buscar</ion-button>


    </ion-item>

    <div *ngIf="loading" style="text-align: center; margin-top: 20px;">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Carregando...</p>
    </div>

    <div *ngIf="erro" style="color: red; font-weight: bold; margin-top: 20px;">
      {{ erro }}
    </div>

    <div *ngIf="nome && !loading" class="container-pokemon" button (click)="irParaDetalhes(nome)">
      <ion-card >
        <h2>{{ nome | titlecase }}</h2>
        <img [src]="imagemUrl" alt="{{ nome }}" />
      </ion-card>
    </div>

  </div>
  
</ion-content>
