.detalhe-item{
   background: cornflowerblue;
   padding: 10px;
   border-radius: 10px;
}
.detalhe-item h3{
 color: white;
}
.content-detalhes{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.card-detalhes{
  display: flex;
  gap: 5px;
}

.title-detalhes{
  text-align: center;
  color: cornflowerblue;
}

.button-pesquisa{
      background: cadetblue;
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
}

.container-detalhes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}