<div class="container-detalhes">
  <h1 class="title-detalhes">Detalhes Pokemon</h1>
  <div class="content-detalhes">
  
  <div class="card-detalhes">
    <div *ngFor="let detalhe of detalhes" class="detalhe-item">
      <h3>{{ detalhe.titulo | titlecase }}</h3>
      <p>{{ detalhe.texto }}</p>
    </div>
  </div>  


    <div class="pokemon-imagem" *ngIf="imagemUrl">
    <img [src]="imagemUrl" [alt]="nome" />
    </div>
  </div>


  <button expand="full" (click)="voltarParaHome()" class="button-pesquisa">
    Nova pesquisa
  </button>
</div>
